:root {
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(4, 72, 97, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  background-color: var(--color-primary);
  border-radius: 40px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  font-weight: 700;
  cursor: pointer;
}

.btn-large {
  height: 67px;
  width: 440px;
  font-size: 16px;
  padding: 22px 157px;
}

header {
  height: 70px;
  box-shadow: 0px 3px 6px var(--color-primary-shadow);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    flex-direction: row;
    gap: 95px;

    li {
      font-family: var(--font-open-sans);
      color: var(--color-grey);
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -28px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: black;
        cursor: pointer;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  .logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}

.opening_container {
  width: 100%;
  height: 712px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening_text {
  h1 {
    font-size: 49px;
    color: black;
    font-family: var(--font-raleway);
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }

  p {
    margin-bottom: 48px;
    text-align: center;
    font-size: 16px;
    color: black;
  }
}
