:root {
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(4, 72, 97, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  background-color: var(--color-primary);
  border-radius: 40px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  font-weight: 700;
  cursor: pointer;
}

.btn-large {
  height: 67px;
  width: 440px;
  font-size: 16px;
  padding: 22px 157px;
}

header {
  height: 70px;
  box-shadow: 0px 3px 6px var(--color-primary-shadow);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    flex-direction: row;
    gap: 95px;

    li {
      font-family: var(--font-open-sans);
      color: var(--color-grey);
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -28px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: black;
        cursor: pointer;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  .logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}

.opening_container {
  width: 100%;
  height: 712px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening_text {
  h1 {
    font-size: 49px;
    color: black;
    font-family: var(--font-raleway);
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }

  p {
    margin-bottom: 48px;
    text-align: center;
    font-size: 16px;
    color: black;
  }
}

.opening_img {
  width: 100%;
  height: auto;
}

.statistics {
  margin-top: 100px;

  h2 {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-raleway);
    color: black;
    font-weight: 400;
  }
}

.statistics_column {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}

.statistics_column_item {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
  margin-bottom: 120px;

  h3 {
    font-size: 20px;
    font-family: var(--font-raleway);
    letter-spacing: 6px;
    margin-top: 13px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    font-family: var(--foont-raleway);
    color: var(--color-grey);
    margin-top: 19px;
  }
}

.statistics_circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;

  img {
    position: absolute;
  }
}

.statistics_column_item:nth-child(1) .statistics_circle {
  background-color: var(--color-redish);
}
.statistics_column_item:nth-child(2) .statistics_circle {
  background-color: var(--color-primary);
}
.statistics_column_item:nth-child(3) .statistics_circle {
  background-color: var(--color-green);
}

.statistics_column_item:nth-child(1) img {
  top: 0;
  left: 45%;
}

.statistics_column_item:nth-child(2) img {
  top: 14px;
  left: 40%;
}

.statistics_column_item:nth-child(3) img {
  top: 8px;
  left: 42%;
}

.benefits {
  background-color: var(--color-light-grey);
  padding: 100px 0;
}

.benefits_column {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  
}

.benefit_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  height: 370px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}

.benefit_macbook {
  --accent-color: var(--color-redish);

  .item_shape {
    width: 386px;
    height: auto;
    margin-right: 117px;
    margin-top: 48px;

    &::before {
      content: "";
      width: 180px;
      height: 180px;
      background-color: var(--accent-color);
      display: block;
      border-radius: 41px;
      position: absolute;
      right: 0;
      top: -30px;
      transform: rotate(45deg);
    }
  }



}

.benefit_iphone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;

  h1{
    max-width: 246px;
    
  }

  .item_shape {
    width: 386px;
    height: auto;
    margin-left: 70px;
    margin-top: 29px;

    &::before {
      content: "";
      width: 300px;
      height: 300px;
      background-color: var(--accent-color);
      display: block;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -30px;
      transform: rotate(45deg);
    }
  }
}

.item_text {
  display: flex;
  flex-direction: column;
  margin: 90px 36px;
  max-width: 416px;

  &::after {
    content: "";
    width: 328px;
    background-color: var(--accent-color);
    height: 4px;
    display: block;
    margin-top: 50px;
  }

  h1 {
    font-size: 36px;
    font-family: var(--font-raleway);
    color: black;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-top: 20px;
  }
}

.item_shape {
  position: relative;

  img {
    
    position: relative;
    z-index: 2;
  }
}

.benefit_trumpet {
  --accent-color: var(--color-green);
  width: 623px;
}

.benefit_double {
  display: flex;
  justify-content: space-between;
}

.item_shape_solo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: var(--color-green);
  margin-left: 60px;
  

  img {
    
   
    width: 295px;
  height: auto;
  margin-top: 55px; 
  
  }
}

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing_row {
  display: flex;
  justify-content: center;
  margin-top: 71px;
  gap: 30px;
}

.single_pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 372px;
  border-radius: 14px;
  border: 1px solid var(--accent-color);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
  }
}

.pricing_type {
  font-size: 20px;
  font-family: var(--font-raleway);
  color: black;
  font-weight: 700;
  margin-top: 34px;
}

.price {
  font-size: 46px;
  font-family: var(--font-open-sans);
  color: var(--accent-color);
  font-weight: 300;
  margin-top: 14px;
  
}

.pricing_limited {
  text-align: center;
  margin-top: 5px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing_basic {
  --accent-color: var(--color-redish);
}

.pricing_pro {
  --accent-color: var(--color-primary);
  width: 400px;
}

.pricing_premium {
  --accent-color: var(--color-green);
}

