.calc {
    padding: 80px;
    background-color: $color-light-grey;

    
  @include tablet {
    padding: 30px 15px;
  }

  h2 {
    text-align: center;
  }

    &_columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;

    @include tablet {
      display: block;
    }

  }

   &__form {
    width: 50%;
    margin-right: 20px;

    @include tablet {
      width: 100%;
      margin-right: 0;
    }
  }


  &__input input,
  &__select .select__input {
    color: $color-grey;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px $color-primary-shadow;
    margin-bottom: 20px;
    background-color: $color-white;
  }
}