.form {
    display: flex;
    flex-direction: column;
    max-width: 440px;

     @include tablet {
    margin-top: 20px;
  }
  
    .contact_form {
      display: flex;
      flex-direction: column;
  
      .name {
        font-size: 11px;
        color: var(--color-primary);
        letter-spacing: 3.28px;
        font-weight: 700;
        margin-bottom: 25px;
        margin-top: 10px;
      }
  
      .username {
        text-decoration: none;
        border: none;
        line-height: 35px;
        background-color: transparent;
        border-bottom: 2px solid var(--color-grey);
        font-size: 25px;
      }
      
  
    
      span {
        
        margin-bottom: 30px;
      }
    }

    
  
    .contact_checkbox {

      p {
        color: #707070;
        font-size: 12px;
      }
      
      .form_checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 12px;


        .checkbox {
          top: 0;
          left: 0;
          position: absolute;
          height: 24px;
          width: 24px;
          border: 1px solid #95989A;
          border-radius: 4px;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          &:checked ~
            .checkbox {
              background-position: center;
              background-size: 50%;
              background-repeat: no-repeat;
              background-image: url(../assets/Checkmark.svg);
            }
          }
        }

        

        
      }
      .btn {  
        padding: 20px 95px;
        margin-top: 20px;
        align-self: flex-end;
        width: 50%;
        font-size: 13px;
      }
      
    }
  
